<h1>Throbbing Neon Productions</h1>

<h3><%= link_to "Bands", bands_path %></h3>
<h3><%= link_to "Artists", artists_path %></h3>
<h3><%= link_to "Songs", songs_path %></h3>

<p>  Wobble...wobble...</p>
