<div class="title">
  <h1>Throbbing Neon Productions</h1>
</div>
<div class="container">
  <h3 class="dashboard">
    <%= link_to "Bands", bands_path %> |
    <%= link_to "Artists", artists_path %> |
    <%= link_to "Songs", songs_path %>
  </h3>
</div>

<h6>  Wobble...wobble...</h6>
