<h1><%= @song.name  %></h1>
<h2>written by <%= link_to @song.author.name, song_path(@song.author) %></h2>

<h3>Recordings</h3>

<ul>
  <% @song.recordings.each do |recording| %>
    <li>
      <%= recording.song.name %>
      by
      <%= link_to recording.band.name, band_path(recording.band) %>
    </li>
  <% end %>
</ul>
