<h1>Create a new band!</h1>

<%= form_for @band do |f| %>
  <%= f.label :name, "What is the band's name?" %>
  <%= f.text_field :name, placeholder: "band name here" %>
  <%= f.submit "Submit" %>
<% end %>