// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 100px;
  background-color: tan;
  font-family: sans-serif;
}

h1 {
  color: #996633;
}

.title {
  background-color: #99FF33;
  padding: 10px;
  width: 200px;
}
